#main{
  background-color: #FFFDDE;
  width: 90%;
  text-align: center;
  height : 100%;
  border-radius: 20px;

}
.explain{
  background-color: #E7FBBE;
  width: 80%;
  text-align: left;
  border-radius: 20px;
}
