.qna{
  width : 80%;
  height: 80%;
}
.texxt{
  width : 100%;
}


#writing  {
  display : none;
  background-color: #FFFDDE;
  width: 80%;
  text-align: center;
  height : 100%;
  border-radius: 20px;

}
.sub{
  width : 10%;
  text-align: left;
}
.sub-2{
  width: 80;
}
table{
  width: 100%;
}
.qna{
  width: 100%;
}

.order, .names{
  width: 20%;
  text-align: center;
}
.titles{
  width: 60%;
  text-align: center;
}