/*.navbar{
  background-color: #FFCBCB;
  width: 100%;
  height: 50px;
}
*/
.menu-hover:hover {
  background-color: black;
  display: block;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
