#result {
  display: none;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}
.resultname{
    font-size: 26px;
}


.resultDesc{
  font-size: 20px;
}

.kakao{
  color:white;
  background: #FEE500;
font-size: 30px;
border:0px;
border-radius: 20px;
}


.kakao:hover, .kakao:focus {
  background-color: whitesmoke;
  color: #FEE500;
}
